﻿@model IEnumerable<ApartmentRentals.Model.MessageDTO>

@{
    ViewBag.Title = "Conversation";
}

<h2>Conversation</h2>
<p>
    @using Microsoft.AspNet.Identity;
    @using (Html.BeginForm("Message", "User", FormMethod.Post))
    {

        <input type="hidden" value="@User.Identity.GetUserId()" name="Sender_Id" />
        if (Model.First().Receiver_Id.Equals(@User.Identity.GetUserId()))
        {

            <input type="hidden" value="@Model.First().Sender_Id" name="Receiver_Id" />
        }
        else
        {
            <input type="hidden" value="@Model.First().Receiver_Id" name="Receiver_Id" />
        }
        <textarea name="Description" required></textarea>
        <input type="submit" value="Send new message" class="btn btn-default" />
    }

</p>
<table class="table">
    <tr>
        <th>
            Sender
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>
