﻿@model IEnumerable<ApartmentRentals.Model.UserDTO>

@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)

        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>@using Microsoft.AspNet.Identity;
            @using(Html.BeginForm("Conversation", "User", FormMethod.Post))
            {
                    <input type="hidden" value="@User.Identity.GetUserId()" name="Sender_Id" />
                    <input type="hidden" value="@item.Id" name="Receiver_Id" />
                    <input type="submit" value="See conversation" class="btn btn-default" />
            }
        </td>
    </tr>
}

</table>
