﻿@model IEnumerable<HealthClinic.Models.ConsultationViewModel>

@{
    ViewBag.Title = "Consultations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultations</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacientPNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorId)
        </th>
        @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Doctor")))
        {
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacientPNC)
            </td>
            <td>
                @if (item.Doctor != null)
                {
                    @Html.DisplayFor(modelItem => item.Doctor.Name)
                }
            </td>
            @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Doctor")))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>


                if(item.Doctor != null)
                {
                    if (User.Identity.Name.Equals(item.Doctor.UserName) || User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit Description", "EditConsultation", new { id = item.Id })
                        </td>
                    }
                }
            }
            @if (item.Description == null && Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Secretary")) && item.Date.Date.Equals(DateTime.Now.Date))
            {
                <td>
                    @Ajax.ActionLink("CheckIn", "CheckIn", new { id = item.Id }, new AjaxOptions { HttpMethod = "Post" })
                </td>
            }
        </tr>
    }

</table>
