﻿@model IEnumerable<HealthClinic.Model.PacientDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Secretary")))
{
   
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ICN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PNC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ICN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Secretary")))
                {
                    @Html.ActionLink("Edit", "Edit", new { pnc = item.PNC }) <text>|</text>
                    @Html.ActionLink("Schedule consultation", "Schedule", new { pnc = item.PNC }) <text>|</text>
                }
                @Html.ActionLink("See consultations", "Consultations", new { pnc = item.PNC })



            </td>
        </tr>
    }

</table>
