﻿@model IPagedList<BookStore.Models.ViewModels.BookViewModel>

@{
    ViewBag.Title = "Index";
    var user=Session["user"] as BookStore.Models.User;
}

<h2>Index</h2>
@using (Html.BeginForm("Search","Book"))
 {
    @Html.TextBox("searchText")
    <input type="submit" id="searchButton" name="searchButton" value="Search" class="btn-default" />
    @Html.RadioButton("searchOption", 0, true);
    <text> By Title</text>
    @Html.RadioButton("searchOption", 1, false);
    <text> By Author</text>
    @Html.RadioButton("searchOption", 2, false);
    <text> By Genre</text>
 }
@if (user != null)
{
    if (user.Roles.Contains("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <p>
            @Html.ActionLink("Generate PDF report", "GeneratePDF")
        </p>
        <p>
            @Html.ActionLink("Generate CSV report", "GenerateCSV")
        </p>
    }

}

@Html.Partial("_Books",Model)


<script type="text/javascript">
    $(document).ready(function () {

        $("#searchButton").click(function() {
            var search = {};
            user.Text = $("#searchText").val();
            user.Option = $("#searchOption").val();
            $.ajax({
                type: "POST",
                url: "/Book/Search",
                data: '{search: ' + JSON.stringify(search) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("Search has been made.");
                }
            });
            return false;
        });
    });
</script>