﻿@model IEnumerable<Bank.Model.BankAccountDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientPNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IBAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientPNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IBAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creation)
        </td>
        <td>
            @Html.ActionLink("Transfer Money", "Transfer", new { iban = item.IBAN }) |
            @Html.ActionLink("Edit", "Edit", new { iban=item.IBAN }) |
           
            @Html.ActionLink("Delete", "Delete", new { iban=item.IBAN })
            @if(item.Type.Equals("Spending"))
            {
                <text>|</text> @Html.ActionLink("Process Bill", "ProcessBill", new { iban=item.IBAN })
            }
        </td>
    </tr>
}

</table>
