﻿@model Bank.Model.ClientDTO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PNC)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.ICN)
    @Html.HiddenFor(model => model.Phone)
    @Html.HiddenFor(model => model.Address)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
