﻿@model ApartmentRentals.Models.ApartmentViewModel

@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="~/Content/bootstrap-image-gallery.min.css">

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")

}
<h2>Details</h2>

<div>
    <h4>ApartmentViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bathroom_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bathroom_Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedroom_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedroom_Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>
        @foreach (var item in Model.Amenities)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.Name)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd>
            <div id="links">
                @foreach (var item in Model.Images)
                {
                    <a target="_blank" href="@Url.Content(item.Url)" data-gallery><img src="@Url.Content(item.Url)" height="60" /></a>
                }
            </div>
        </dd>
    </dl>
</div>
<p>
    @using Microsoft.AspNet.Identity;
    @if (Request.IsAuthenticated && User.Identity.GetUserId().Equals(Model.Owner_Id))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <text>|</text>
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })    <text>|</text>
    }
    @if (Model.Status_Id==1&&Request.IsAuthenticated && User.IsInRole("Tenant"))
    {
        using(Html.BeginForm("Message", "User", FormMethod.Post))
        {
            <textarea name="Description" required></textarea>
            <input type="hidden" value="@User.Identity.GetUserId()" name="Sender_Id" />
            <input type="hidden" value="@Model.Owner_Id" name="Receiver_Id" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Message Owner" class="btn btn-default" />
                </div>
            </div>
        }

        using (Html.BeginForm("Offer", "Apartments", FormMethod.Post))
        {
            <input name="Fee" type="number" required/>
            <input type="hidden" value="@User.Identity.GetUserId()" name="Tenant_Id" />
            <input type="hidden" value="@Model.Owner_Id" name="Landlord_Id" />
            <input type="hidden" value="@Model.Id" name="Apartment_Id" />
            @Html.HiddenFor(model=>model.Id)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Make Offer" class="btn btn-default" />
                </div>
            </div>
        }
    }
    @Html.ActionLink("Back to List", "Index")
</p>
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="~/Scripts/bootstrap-image-gallery.js"></script>

